footer {
	display: table-footer-group;
	text-align: center;
	font-size: 0.8em;
}

footer .container {
	display: table-row;
}

.footer__inner {
	display: table-cell;
	padding: 1em 2em;
}

footer p {
	font-size: inherit;
}
