@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mix;

.card {
	display: table;
	max-width: func.em(350);
	padding: func.em(24);
	margin: func.em(40) auto;
	background-color: var.$color-dark-blue-2;
	text-align: left;
	@include mix.border-radius(15px);
	@include mix.box-shadow(0 func.em(25) func.em(50) rgba(0, 0, 0, 0.1));
}

.card__inner {
	display: table-row-group;
}

.card__image {
	display: table-row;
}

.card__image-box {
	position: relative;
	z-index: 1;
	display: table-cell;
	padding-bottom: func.em(24);
	background-color: var.$color-soft-blue;
	@include mix.border-radius(0.5em);
	cursor: pointer;
}

.card__image-box::before,
.card__image-box::after {
	content: '';
	position: absolute;
	inset: 0;
	bottom: func.em(24);
	@include mix.border-radius(inherit);
}

.card__image-box::before {
	margin: auto;
	background-color: var.$color-cyan-light;
	background-image: url('../images/icons/view.svg');
	background-repeat: no-repeat;
	background-position: center;
	@include mix.transition(opacity 0.3s);
	opacity: 0;
}

.card__image-box:hover::before {
	opacity: 1;
}

.card__image-box::after {
	background-color: var.$color-soft-blue;
}

.card__image-box img {
	@include mix.border-radius(inherit);
}

.card__content {
	display: table-row;
}

.card__content-box {
	display: table-cell;
}

.card__title {
	margin-bottom: func.em(12, 22);
}

.card__desc {
	margin-bottom: func.em(16, 18);
}

.card__stats .cell {
	vertical-align: middle;
}

.card__stats-item {
	width: 50%;
	font-size: func.em(15);
}

.card__stats-item:first-child {
	font-weight: var.$font-weight-600;
	color: var.$color-cyan;
}

.card__stats-item > .table {
	width: auto;
}

.card__stats-item:last-child > .table {
	margin-left: auto;
}

.card__stats-item i {
	position: relative;
	top: func.em(2);
	margin-right: func.em(7.7);
}

.card__author {
	padding-top: func.em(16);
	margin-top: func.em(16);
	border-top: 1px solid var.$color-dark-blue-3;
}

.card__author .cell {
	vertical-align: middle;
}

.card__author-item:first-child {
	padding-right: func.em(12);
	width: func.em(45);
}

.card__author-img {
	width: func.em(33);
	height: auto;
	border: 1px solid var.$color-white;
	border-radius: 50%;
}

.card__author-desc {
	font-size: func.em(15);
}

@media (min-width: 48em) {
	.card__title {
		margin-bottom: func.em(16, 22);
	}

	.card__desc {
		margin-bottom: func.em(24, 18);
	}

	.card__stats-item {
		font-size: func.em(16);
	}

	.card__author-desc {
		font-size: func.em(16);
	}

	.card__author {
		margin-top: func.em(24);
	}
}
